# core
torch>=2.2
transformers>=4.41
accelerate
peft
faiss-cpu   # or faiss-gpu
langchain>=0.2
python-dotenv
pydantic
rich
pdfplumber
pyyaml
langchain-community
sentence-transformers
langchain-huggingface
trl
tiktoken
sentencepiece 
blobfile
einops
protobuf
openai
sentencepiece
rank_bm25
duckduckgo_search
requests
beautifulsoup4
optuna
deap
reportlab
langchain-openai
boto3
psycopg2-binary
mlflow
