langchain
python-dotenv
pydantic
rich
pdfplumber
pyyaml
langchain-community
sentence-transformers
langchain-huggingface
trl
tiktoken
sentencepiece
blobfile
einops
protobuf
openai
sentencepiece
rank_bm25
ddgs
requests
beautifulsoup4
optuna
deap
reportlab
langchain-openai
boto3
psycopg2-binary
mlflow
docling
faiss-cpu
accelerate
peft
IPython
huggingface-hub
aiofiles
datasets
torch_geometric
pandas
markdown 
typing_extensions
ddgs
nltk
tqdm
scikit-learn
seaborn
matplotlib
huggingface_hub
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
astunparse==1.6.2
colorlover
dash>=1.12.0
pymongo
dash-svg
dash-bootstrap-components
kaleido==0.2.1
plotille
